---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque asperiores deleniti accusantium assumenda deserunt atque nisi aliquam aspernatur necessitatibus odit voluptatibus consequatur veritatis amet porro, dolores exercitationem laborum nihil magnam.
		Ea vel id ullam ab architecto, quidem quia libero dolorum pariatur eos odit soluta voluptas vitae harum, obcaecati temporibus et voluptate totam iste ratione animi dolorem error ipsa? A, maiores.
		Ratione, sit accusantium culpa iusto iste eligendi sequi corporis, distinctio consequatur hic excepturi, eaque odio optio quibusdam repudiandae esse aliquam dignissimos! Tempora doloribus sed incidunt enim exercitationem omnis facere quasi?
		Debitis architecto culpa recusandae temporibus sed vel, voluptatem labore nam. Quasi ab quo fuga minima, nemo corrupti atque neque tempora velit saepe tenetur optio. Ipsa magnam eligendi voluptas rerum atque.
		Error, omnis facere. Nemo, ipsa! Asperiores praesentium voluptatibus rem voluptatem quidem numquam mollitia dolorem tempore deleniti nostrum sed quasi a assumenda laboriosam voluptate placeat quisquam error eaque iste, rerum expedita.
		Nulla ducimus amet accusantium aut, magnam reprehenderit laborum cupiditate soluta dolor atque perspiciatis neque iusto natus, dolores veritatis nemo, ut aliquid! Excepturi ipsum error iure tempore illum perferendis eligendi magni.
		Maiores totam nemo animi adipisci, explicabo pariatur voluptatem eligendi saepe itaque possimus incidunt quo hic nostrum ullam aut accusantium deleniti alias quaerat corporis earum ut, voluptate perferendis? Eum, aliquam enim?
		Dolorum minima impedit ut. Magni recusandae fugit, molestiae quasi similique sit inventore, eveniet sequi expedita laboriosam exercitationem debitis, accusamus rerum porro nihil eum deleniti cumque accusantium minima necessitatibus ratione quo.
		Accusamus fugiat asperiores atque quas, molestiae, velit enim harum, reprehenderit eveniet quam est consequuntur? Officiis pariatur, beatae et consequuntur consectetur harum delectus libero dignissimos aspernatur, eveniet aliquid inventore! Officia, illum.
		Totam magnam nulla eveniet provident cum expedita veritatis natus voluptates odio aperiam blanditiis, labore odit animi. A odit, explicabo fugiat eum, optio rerum beatae illo voluptatum earum odio tempora consequatur.</p>
	</body>
</html>
